div{
	width: 200px;
	height: 200px;
}

.box1{
	background: yellow;
	float: left;
}

.box2{
	background: red;
	float: right;
}

.box3{
	background: gray;
	width: 220px;
}

.box4{
	background: blue;
	float: left;
}