.padding-left{
	padding-top: 20px;
	padding-left: 20px;
	/*
	padding: a b c d
	上 右 下 左

	padding: x y;
	上下边距 左右边距

	padding: z;
	所有边距
	*/
}

.box{
	width: 100px;
	height: 100px;
	background: red;
}

div{
	width: 200px;
	height: 200px;
	border: 10px solid yellow;
}

.item1{
	background: green;
	/*item底部外间距*/
	/*margin-bottom: 20px;*/

}

.item2{
	background: red;
	margin-top: -10px;
	/*
	margin: a b c d
	top right bottom left
	*/
}